<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Rango</title>
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<script src="{% static "js/base.js" %}"></script>
</head>
<body>
    
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if category.page_set.all %}
                <ul>
                    {% for page in category.page_set.all %}
                        <li><a href="{{ page.url }}">{{ page.title}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages yet</strong>
            {% endif %}
        {% else %}
            <strong>There is no such category</strong>
        {% endif %}
    </div>

    <div>
        <a href="/rango/about/">About</a><br />
        <a href="{% url "index" %}">Home</a>
    </div>
        <img src="{% static "images/lw.jpg" %}" alt="Picture of Ludwig Wittgenstein">
</body>
</html>