{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ category.name}}
{% endblock title %}

{% block body %}
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if category.page_set.all %}
                <ul>
                    {% for page in category.page_set.all %}
                        <li><a href="{{ page.url }}">{{ page.title}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages yet</strong>
            {% endif %}
        {% else %}
            <strong>There is no such category</strong>
        {% endif %}
        <a href="{% url 'rango:add_page' category.slug %}">Add Page</a>
{% endblock body %}