<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Rango</title>
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<script src="{% static "js/base.js" %}"></script>
</head>
<body>
	<h1>Rango says...</h1>
	<div>
		hey there partner! <br />
	</div>
    <div>
        {% if categories %}
            <ul>
                {% for cat in categories %}
                    <li>{{ cat.name}} </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories</strong>
        {% endif %}
    </div>

	<div>
		<a href="/rango/about/">About</a><br />
		<img src="{% static "images/lw.jpg" %}" alt="Picture of Ludwig Wittgenstein">
	</div>
</body>
</html>