<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Rango</title>
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<script src="{% static "js/base.js" %}"></script>
</head>
<body>
	<h1>Home</h1>
    <div>
        {% if categories %}
        <h2>Most liked categories</h2>
            <ul>
                {% for cat in categories %}
                    <li><a href="{% url "category" cat.slug %}">{{ cat.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories</strong>
        {% endif %}
        <a href=" {% url "add_category" %} ">Add a New Category</a>
    </div>

    <div>
        {% if most_viewed_pages %}
            <h2>Most viewed pages</h2>
            <ul>
                {% for page in most_viewed_pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

	<div>
		<a href="/rango/about/">About</a><br />
		<img src="{% static "images/lw.jpg" %}" alt="Picture of Ludwig Wittgenstein">
	</div>
</body>
</html>